body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ffffff;
}

.theme {
  color: #a7d397;
  color: #f5eec8;
  color: #d0d4ca;
  color: #555843;
  color:#e3ece0;
  color:#22231a;
}

.btn-default{
  background-color: #555843;
  border-color:#555843;
  color:#fffce9;
}

.btn-default:hover {
  color: #f5eec8;
  background-color: #3c3e30;
  border-color: #555843;
}

.btn-default:focus,
.btn-default.focus {
  box-shadow: 0 0 0 .1rem #555843
}


.total-balance{
  font-size:1.4rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.total-expenses{
    position: absolute;
    left: 44.5%;
    top: 48%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index:1;
    font-size:13px;
    font-weight: bold;
}
.subtitle{
  font-size:18px;
  font-weight: 600;
}